body{
	font-family: 'Lato', sans-serif;
	color: black;
	font-weight: 300;
	background-color: #f2f2f1;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid darkgray;
	margin: 1em 0;
	padding: 0;
}

.text-thin{
	font-weight: 100;
}

.text-muted{
	color: gray;
}

.title-super {
	font-size: 40px;
}

.main{
	width: 1140px;
	height: 450px;
}

.title-logo{
	height: 100px;
	width: 100px;
	margin: 20px;	
}

.font {
	font-style: italic;
}

body {margin: 0;}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

@media screen and (max-width: 680px) {
	ul.topnav li:not(first-child) {display: none;}
	ul.topnav li.icon{
		float: right;
		display: inline-block;
	}
}

@media screen and (max-width: 680px) {
	ul.topnav.responsive {position: relative;}
	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.topnav.responsive li {
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a {
		display: block;
		text-align: left;
	}
}